body{
	background: rgb(255,255,255);
	margin-top: 0px;
}

.container1{
	display:block;
	position: absolute;
	left:0px;
	width:100vw;
	height: 15vh;
	background:#ffb5ca;
	border-bottom: 1px outset grey;
}
header>i{
	margin-left: 5vw;
	font-size: 100%;
}
h1{
	display:inline-block;
	color:#000000;
	
	font-size: auto;
}
sub{
	display:inline;
}

.container2{
	display: block;
	position: absolute;
	width: 28vw;
	height: 40vh;
	background-color: #ffb5ca;
	top:30vh;
	left:35vw;
	box-shadow: 0px 10px 6px -7px black;
	/*box-shadow: 2px 2px 4px grey;*/
	border-radius: 15px 80px;
	
}


	
form{
	padding:5% 0% 5% 8%;
	width: 100%;

	
}
form>input{
	width: 78%;
	padding: 5%;
	border:none;
	box-shadow: inset 0 0 4px grey;
}
#button{
	width:27%;
	height:15%;
	
	background: #ffb5ca;
	box-shadow: 3px 3px 10px #de9db0, -2.5px -2.5px 10px #ffcde4;
	border-radius:9%;
	border: none;
	cursor: pointer;
	margin-left:38%;
}


	#button:hover{
		box-shadow: 3px 3px 4px #de9db0, -3px -3px 10px #ffcde4;
		transition: 0.3s;
		outline:0;
}
#button:active{
	box-shadow: 3px 3px 10px #de9db0, -2.5px -2.5px 10px #ffcde4;
}
table{
	width:50%;
	display: none;
	position: absolute;
	top: 25vh;
	left:25vw;
	border: 1px solid black;
	transition: 1s;
	text-align:center; 
}
td{
	width:5%;
	border: 1px dotted black;
	padding: 5px;

}
.text1 {
	width:80%;
}
.button1{
	border-radius:35%;
}
.button1:hover{
	box-shadow: 1px 1px 2px black; 
}
#but2{
	background:#ffb5ca;
	border:none;
	width: 5%;
	height: 5%;
	display: none;
	position:absolute;
	top:80vh;
	left: 80vw;

	box-shadow:1px 1px 2px black ;
}

#but2:hover{
	box-shadow:1px 1px 4px black ;
	outline:0;
}
#but2:active{
	box-shadow:1px 1px 2px black ;
	outline:0;
}
#but2:after{
	box-shadow:1px 1px 2px black ;
	outline:0;
}
#but4{
	display: none;
	position: absolute;
	left:80vw;
	top:30vh;
	width: 5%;
	height: 5%;
	background:#ffb5ca;
	border:none; 
	box-shadow:1px 1px 2px black ;

}
#but4:hover{
	box-shadow:1px 1px 4px black ;
	outline:0;
}
#but4:active{
	box-shadow:1px 1px 2px black ;
	outline:0;
}
.fa-minus{
	color:red;

}


	




